    /*
    Flaticon icon font: Flaticon
    Creation date: 10/01/2020 01:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-doctor:before { content: "\f100"; }
.flaticon-child:before { content: "\f101"; }
.flaticon-design:before { content: "\f102"; }
.flaticon-baby-boy:before { content: "\f103"; }
.flaticon-kids:before { content: "\f104"; }
.flaticon-stethoscope-medical-tool:before { content: "\f105"; }
.flaticon-brain:before { content: "\f106"; }
.flaticon-stethoscope:before { content: "\f107"; }
.flaticon-emergency:before { content: "\f108"; }
.flaticon-24-hours:before { content: "\f109"; }
.flaticon-cardiogram:before { content: "\f10a"; }
.flaticon-dropper:before { content: "\f10b"; }
.flaticon-first-aid-kit:before { content: "\f10c"; }
.flaticon-autism:before { content: "\f10d"; }
.flaticon-autism-1:before { content: "\f10e"; }
.flaticon-autism-2:before { content: "\f10f"; }
.flaticon-autism-3:before { content: "\f110"; }
    
    $font-Flaticon-doctor: "\f100";
    $font-Flaticon-child: "\f101";
    $font-Flaticon-design: "\f102";
    $font-Flaticon-baby-boy: "\f103";
    $font-Flaticon-kids: "\f104";
    $font-Flaticon-stethoscope-medical-tool: "\f105";
    $font-Flaticon-brain: "\f106";
    $font-Flaticon-stethoscope: "\f107";
    $font-Flaticon-emergency: "\f108";
    $font-Flaticon-24-hours: "\f109";
    $font-Flaticon-cardiogram: "\f10a";
    $font-Flaticon-dropper: "\f10b";
    $font-Flaticon-first-aid-kit: "\f10c";
    $font-Flaticon-autism: "\f10d";
    $font-Flaticon-autism-1: "\f10e";
    $font-Flaticon-autism-2: "\f10f";
    $font-Flaticon-autism-3: "\f110";