	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/01/2020 01:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-doctor:before { content: "\f100"; }
.flaticon-child:before { content: "\f101"; }
.flaticon-design:before { content: "\f102"; }
.flaticon-baby-boy:before { content: "\f103"; }
.flaticon-kids:before { content: "\f104"; }
.flaticon-stethoscope-medical-tool:before { content: "\f105"; }
.flaticon-brain:before { content: "\f106"; }
.flaticon-stethoscope:before { content: "\f107"; }
.flaticon-emergency:before { content: "\f108"; }
.flaticon-24-hours:before { content: "\f109"; }
.flaticon-cardiogram:before { content: "\f10a"; }
.flaticon-dropper:before { content: "\f10b"; }
.flaticon-first-aid-kit:before { content: "\f10c"; }
.flaticon-autism:before { content: "\f10d"; }
.flaticon-autism-1:before { content: "\f10e"; }
.flaticon-autism-2:before { content: "\f10f"; }
.flaticon-autism-3:before { content: "\f110"; }