    /*
    Flaticon icon font: Flaticon
    Creation date: 02/04/2020 06:35
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-doctor:before { content: "\f100"; }
.flaticon-child:before { content: "\f101"; }
.flaticon-design:before { content: "\f102"; }
.flaticon-baby-boy:before { content: "\f103"; }
.flaticon-kids:before { content: "\f104"; }
.flaticon-stethoscope-medical-tool:before { content: "\f105"; }
.flaticon-brain:before { content: "\f106"; }
.flaticon-stethoscope:before { content: "\f107"; }
.flaticon-emergency:before { content: "\f108"; }
.flaticon-24-hours:before { content: "\f109"; }
.flaticon-cardiogram:before { content: "\f10a"; }
.flaticon-dropper:before { content: "\f10b"; }
.flaticon-first-aid-kit:before { content: "\f10c"; }
.flaticon-autism:before { content: "\f10d"; }
.flaticon-autism-1:before { content: "\f10e"; }
.flaticon-autism-2:before { content: "\f10f"; }
.flaticon-autism-3:before { content: "\f110"; }
.flaticon-conversation:before { content: "\f111"; }
.flaticon-conversation-1:before { content: "\f112"; }
.flaticon-consumer-behaviour:before { content: "\f113"; }
.flaticon-settings:before { content: "\f114"; }
.flaticon-motion-sensor:before { content: "\f115"; }
.flaticon-analysis:before { content: "\f116"; }
.flaticon-brain-1:before { content: "\f117"; }
.flaticon-speech-bubble:before { content: "\f118"; }
.flaticon-talk:before { content: "\f119"; }
.flaticon-helping-hand:before { content: "\f11a"; }
.flaticon-warning:before { content: "\f11b"; }
.flaticon-qa:before { content: "\f11c"; }
.flaticon-repeat-1:before { content: "\f11d"; }
.flaticon-social:before { content: "\f11e"; }
.flaticon-individual:before { content: "\f11f"; }
.flaticon-crying:before { content: "\f120"; }
.flaticon-walk:before { content: "\f121"; }
.flaticon-dancer-motion:before { content: "\f122"; }
    
    $font-Flaticon-doctor: "\f100";
    $font-Flaticon-child: "\f101";
    $font-Flaticon-design: "\f102";
    $font-Flaticon-baby-boy: "\f103";
    $font-Flaticon-kids: "\f104";
    $font-Flaticon-stethoscope-medical-tool: "\f105";
    $font-Flaticon-brain: "\f106";
    $font-Flaticon-stethoscope: "\f107";
    $font-Flaticon-emergency: "\f108";
    $font-Flaticon-24-hours: "\f109";
    $font-Flaticon-cardiogram: "\f10a";
    $font-Flaticon-dropper: "\f10b";
    $font-Flaticon-first-aid-kit: "\f10c";
    $font-Flaticon-autism: "\f10d";
    $font-Flaticon-autism-1: "\f10e";
    $font-Flaticon-autism-2: "\f10f";
    $font-Flaticon-autism-3: "\f110";
    $font-Flaticon-conversation: "\f111";
    $font-Flaticon-conversation-1: "\f112";
    $font-Flaticon-consumer-behaviour: "\f113";
    $font-Flaticon-settings: "\f114";
    $font-Flaticon-motion-sensor: "\f115";
    $font-Flaticon-analysis: "\f116";
    $font-Flaticon-brain-1: "\f117";
    $font-Flaticon-speech-bubble: "\f118";
    $font-Flaticon-talk: "\f119";
    $font-Flaticon-helping-hand: "\f11a";
    $font-Flaticon-warning: "\f11b";
    $font-Flaticon-qa: "\f11c";
    $font-Flaticon-repeat-1: "\f11d";
    $font-Flaticon-social: "\f11e";
    $font-Flaticon-individual: "\f11f";
    $font-Flaticon-crying: "\f120";
    $font-Flaticon-walk: "\f121";
    $font-Flaticon-dancer-motion: "\f122";