
/* RWD start */
.print-col{
	display: inline-block;
}

.print-col-4{
	width: 33.33%;
}

.print-col-8{
	width: 66.66%;
}

/* RWD end */

body {
	color: black ;
	background: white;
	font-size: 8pt;
	/* display:inline; */
	overflow:visible;
	
} 

A:link,A:visited {
	background: white;
	color: black;
	text-decoration: none;
	font-weight: normal;
}
/**Matches any img element that is a child of an element A. **/
A > img{
		display: none;
}

H1,H2,H3 {
	background: white;
	color: black;
	padding-bottom: 1px;
	border-bottom: 1px solid gray;
}

body,div,dd,dt,dl,img,table,tr,td,h1,h2,h3,h4,h5,form,hr,fieldset {
	margin: 0px;
	padding: 0px;
}

/* ID area */
#header, #leftnav, #footer{
	display: none;
}

#container {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#content {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	width: 100%;
}

/* DIV area */
DIV.adbanner,div.report-form-container {
	display: none;
}

div.scrollpane {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

div.listing {
    margin-left: 0;
    padding: 0;
}

div.marginleft {
    margin: 0;
}

div.marginright {
    margin: 0;
}

div.hide {
	display: block;
	margin-left: 0;
	padding-bottom: 0;
}

div.report-form-container {
	margin-left: 0;
	display: none;	
}

div.report-listing-container {
	margin-left: 0;
	padding-bottom: 0;
}

div.ui-dialog-content, div.ui-dialog{
	margin: 0;
	padding: 0;
}

div.reportPrintInfo{
	display: inline;
}

div.fieldset {
	margin: 0px;
	width: 100%;
	border: 0px;
}

div.fieldset #search, div.fieldset div.hidden-print, div.fieldset div.button_row, div.fieldset div.buttons, div.fieldset div.editPage{
	display:none;
}

fieldset {
	margin: 0px;
	width:100%;
	border: 0px;
	color: black;
}

fieldset fieldset {
	clear: both;
	margin-left: 0;
	padding: 0;
}

fieldset .red {
	margin-left: 0;
	padding: 0;
}

fieldset.cal {
	margin: 30px 0px 0px;
	width: 100%;
	border: 0px;
	color: black;
	zoom: 90%;
}

 .pagebreak { 
 page-break-before: always; 
}


.nobreak {
	page-break-inside:avoid;
}

fieldset div.wwgrp, fieldset div.wwerr,fieldset div.wide span.wwctrl,fieldset div.wide div.wwctrl {
}	

/* fieldset #search, fieldset div.hidden-print, fieldset div.button_row, fieldset div.buttons, fieldset div.editPage{
	display:none;
} */

fieldset div.wwgrp, fieldset div.wwerr,fieldset div.wide span.wwctrl,fieldset div.wide div.wwctrl {
}

/* fieldset #search, fieldset div.hidden-print, fieldset div.button_row, fieldset div.buttons, fieldset div.editPage{
	display:none;
} */

.page-break  { display:block; page-break-before:always; }

div#divFrame,div#divFrame iframe#iframe{
	width: 625px;
	margin: 0px;
}

/* legend area */
legend {
	margin: 0px;
	padding: 0px;
}

legend  {
*margin: 0 -7px;/* targets IE6 and 7 */
}

/* Class area */
.small{
	margin: 0px;
	width: 630px;
	border: 0px;
}

.widen {
	width: 624px;
	*width: 640px;
}

.button-rounded, .hidden-print ,.menuList{
	display: none;
}

.printInfo{
	display: INLINE;
}

input.button {
	display: none;
}
	
span.view {
	position:absolute;
	left:299px;
	*left:295px;
}

/** Table/Grid CSS **/
table.results {
	/* font-family:Verdana,Arial,Helvetica,sans-serif; */
	/* border: 1px solid #CCC; */
	margin: 5px 0;
	/*table-layout: fixed;*/
	/*width: 600px;*/
	/*word-wrap: break-word;*/
  	/* font-size: 90%; */
  	page-break-inside:auto ;
}

/**define new css style for worflowsetup**/
table.workflow {
	display:inline-block;
	/* font-family:Verdana,Arial,Helvetica,sans-serif; */
	/* border: 0px; */
	margin: 5px 0;
	width: 100% !important; 
	/* border-collapse: collapse;
	table-layout: fixed;
	word-wrap: break-word; */
	
}

table.authorizationHistory {
	/* font-family:Verdana,Arial,Helvetica,sans-serif; */
	/* border: 1px solid #CCC; */
	border-collapse: collapse;
	margin: 5px 0;
	table-layout: fixed;
	width: 1230px;
	word-wrap: break-word;
}

.commentPotrait{
width:630px;
}

.commentLandscape{
width:1260px;
}

table.workFlow{
	min-height: 800px;
}

.btnResize{
	zoom:50%;
}

.textBoxResize{
	zoom:55%;
}

.textBoxAuthResize{
	zoom:80%;
	font-size:140%;
}

table.service_results {
	/* font-family:Verdana,Arial,Helvetica,sans-serif; */
	/* border: 1px solid #CCC; */
	border-collapse: collapse;
	margin: 5px 0;
	table-layout: fixed;
	width: 100%;
	word-wrap: break-word;
}

/* table.results th, table.results td {
	font:9px Verdana,Arial,Helvetica,sans-serif;
	 border-bottom: 1px solid #DDD !important;
	 border-right: 1px solid #DDD !important;
} */

table.results th.services {
	/* font:9px Verdana,Arial,Helvetica,sans-serif; */
	font-weight: bold;
	/* border: 1px solid black; */	
	width:300px;
}

table.results th a {
	font-weight: bold;
}

table.service_results th, table.service_results td {
	/* font:10px Verdana,Arial,Helvetica,sans-serif; */
	padding: 3px 5px;
	/* border: 1px solid #CCC; */
}

table.results th {
	font-weight: bold;
}

/* Do not remove these customize css */
table#customRow .receiptNo {
	width: 85px;
} 

table#customRow .interestRate {
	width: 55px;
} 

table#customRow .date {
	width: 60px;
} 

table#customRow .amount {
	width: 90px;
} 

table#historyRow td{
	font-size: 5.0pt;
	width: 55px;
}

table#historyRow th{
	font-size: 5.0pt;
	width: 55px;
	font-weight: bold;
	color: black;
}

table#historyRow .transDate {
	width: 50px;
}

table#historyRow .ref {
	width: 48px;
}

table#historyRow .headerChqNo {
	width: 40px;
}

table#historyRow .headerCurrency {
	width: 35px;
}

table#historyRow .headerAmount {
	width: 70px;
}

table#historyRow .todayAmount {
	width: 75px;
}
/* commented at 4.22pm */
/* Do not remove these customize css */

table.service_results th {
	background-color: #C10022;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;	
}

table.results th.createdDateTime {
	padding: 3px 5px;
	text-align: left;
	width: 7em;
}

/*adjust for support audit log*/
table.results .createdDateTime {
	text-align: left;
	width: 7em;
}

table.results .action2 {
	text-align: left;
	width: 5em;
}

table.results .userid2 {
	text-align: left;
	width: 8em;
}	

.viewServices{
	margin: 0px;
	width: 600px;
	border: 0px;
	color: white;
	/*font-size: 80%;*/
}

#function_tree {
	padding:0px;
}

.widthPx350 {
	width:300pt;
}

div.print_largerfont {
	font-size: 8pt;
}

table.results {
	margin-left: 0px;
	/* border-color: black; */
}

/*adjust for corp admin log*/
table.results .id-name2 {
	padding: 0;
	text-align: left;
	width: 6.5em;
}

table.results .compAcc {
	padding: 0;
	text-align: left;
	width: 6.5em;
}

table.results th, table.results td {
	/* border: 1px solid black;	 */
}

table.results .createdDateTime {
	padding: 0;
	text-align: left;
	width: 7em;
}

table.results .data2 {
	padding: 0;
	text-align: left;
	width: 5em;
}

table.results .sta {
	text-align: left;
	width: 7.5em;
	word-wrap: break-word;
}

table.results .sta2 {
	padding: 0;
	text-align: left;
	width: 7.5em;
}

table.results .func {
	text-align: left;
	width: 10em;
}

table.difftable table.results {
    width: 220pt;
}

#function_tree {
	padding:0px;
}

.widthPx350 {
	width:300pt;
}
table.results th.account-no {
	width: 7em; 
}
table.results th.currency {
	width: 60px;
}
table.results th.product {
	width: 60px;
}
table.results th.refNo1 {
	width: 65px;
}
table.results th.blank {
	width: 4em;
}
table.results td.creditamount {
	text-align: right;
	padding: 0;
	width: 160px;
}
table.results .username {
	text-align: left;
	width: 8em;
}
table.results .oldData {
	text-align: left;
	width: 9em;
}
table.results .newData {
	text-align: left;
	width: 9em;
}

table.bulk_result {
	/* font-family:Verdana,Arial,Helvetica,sans-serif; */
/* 	border: 1px solid #CCC; */
	border-collapse: collapse;
	margin: 5px 0;
	table-layout: fixed;
	width: 650px;
	word-wrap: break-word;
}

table.bulk_result th.account-no {
	width: 8em;
}


    .noprint {display:none !important;}

a:link:after, a:visited:after {  
   content: "";  
   min-height: 100%;  
   display: block;
   width: 100%;
}


div {
	overflow-y: hidden;
}

div.row {
	width: 100%;
}

/*handle for chrome print */
@page {size: potrait; }

.mdl-color-text-white{
	color:black !important;
}

/*handle for ie print */ 

	body {
	/* height: 750px; */
	width: 100%;
	filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=3);
	}

/* align all table labeling to center, top */
.table > thead > tr > th{
	vertical-align:top;
	text-align:center;
}

.hidden-xs {
   display: block!important;
}


.borderless td, .borderless th {
    border: none !important;
}

table { 
	page-break-inside:auto 
}
tr { 
	page-break-inside:avoid; page-break-after:auto 
}
.table-responsive{
	overflow-x:hidden !important;
} 

.mdl-color-bg-dark-grey {
    background: #3C3C3C;
}

.border-bottom-grey {
	border-bottom: 1px solid grey;
}

.border-service-eligibility {
	border:1px solid grey;
}

.hidden-print {
    display: none !important;
  }
  
.nopadding {
	padding: 0px;
}

.logo-width-print {
	/* width:250px !important;	 */
	height:50px;
}

.mdl-color-text-dark-blue {
	color:black !important;
}