/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-image: url('../images/background-blue.jpg');
  background-size: cover; 
  font-size:16px;
}

.mdl-button, label, span, p, div, small {
	font-family: "Helvetica Neue", "Arial" !important;
}

select, input, textarea, optgroup {
	font-family: "Helvetica Neue", "Arial" !important;
}

/* .background-image {
    background-image: url('../images/background-blue.jpg');
} */

.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: #00589D; /* #00599D; */
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
.mdl-layout__drawer {
  width: 280px;
  left: -140px;
}

.mdl-layout__drawer.is-visible {
  left: 0;
}
/* iOS Safari specific workaround */
/* .demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
} */

.demo-navigation-top {
  display:inherit;
}

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 110px;
}
.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00589D; /* #00599D; */
  font-weight: bold;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.demo-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}



.demo-card-event.mdl-card {
  width: 100%;
  height: 200px;
  background: #00599D;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}




.account-card.mdl-card {
  width: 100%;
  
  background: #FFFFFF;
}
.account-card > .mdl-card__actions {
  border-color: #aaa;
}
.account-card > .mdl-card__title {
  align-items: flex-start;
}
.account-card > .mdl-card__title > h4 {
  margin-top: 0;
}
.account-card > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.account-card > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.account-card > .mdl-card__title,
.account-card > .mdl-card__actions,
.account-card > .mdl-card__actions > .mdl-button {
  color: #000;
}
.account-card > .mdl-card__content {
  text-align: right;
  width:100%;
}


.account-card > .account-card-details  .account-card-details-label {
    text-align: right;
    padding: 10px 10px 10px 10px;
}

.account-card > .account-card-details  .account-card-details-value {
    text-align: left;
    padding: 10px 10px 10px 10px;
}


.account-card-details-large {
    display:inherit;
}

.account-card-details-small {
    display:none !important;
}

.account-card-summary-label {
  min-width:140px !important;
  display:inline-block;
}

.account-card-summary-value {
  min-width:110px !important;
  display:inline-block;
  padding: 0 0 0 0;
}
.nopadding {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.mdl-button--fab.mdl-button--colored {
  background: #29AAE2;
}

.mdl-layout__header {
  background: #FFFFFF;
}

.mdl-color--dark-blue {
  color: #00589D; /* #00599D; */
}

.mdl-color-bg-dark-blue {
  background: #00599D;
}

.mdl-color-bg-lite-blue {
  background: #29AAE2;
}

.mdl-color-bg-lite-blue2 {
  background: #29AAE2 !important;
}

.mdl-color-bg-dark-grey {
  background: #3C3C3C;
}

.mdl-color-bg-lite-grey {
  background: #939598 !important;
} 

.mdl-color-bg-lite-grey2 {
  background: #D1D2D4 !important;
} 

.mdl-color-bg-white {
  background: #ffffff !important;
} 

.mdl-color-text-lite-grey {
  color: #939598;
}

.mdl-color-text-lite-blue {
  color: #29AAE2;
}

.mdl-color-text-dark-blue {
  color: #00589D !important;
}

.mdl-color-text-white {
  color: #FFFFFF !important;
}

.mdl-color-text-black {
  color: #000000!important;
}
.mdl-color-text-dark-grey {
  color: #3C3C3C;
}

.mdl-mini-footer {
  padding: 2px 2px;
}

.mdl-align-bottom {
  display : flex;
  align-items : flex-end;
}

.fullwidth {
    width: 100%;
}

.full-table {
    width:1210px;
}

.mdl-data-table {
 /*  table-layout:fixed; */
}

.mdl-data-table thead {
  background: #00599D;
}

.mdl-data-table th {
  font-size: 14px;
  color: #ffffff;
}

.mdl-data-table td {
  font-size: 14px;
}

.mdl-data-table td.amount {
	text-align: right;
}

.mdl-card--subtext {
  margin-top: -30px;
  font-size:12px;
}

.mdl-inline-block {
  display: inline-block;;
}

.page-title {
  min-height:40px;
  font-size: 24px;
  display : flex;
  align-items : center;
}

.header-logo {
  width:330px;
  height:50px;
}

.header-logo-fixed {
  width:150px;
  height:50px;
}

.header-small {
  display:none;
}

.header-logo-small {
  display:inherit;
  width:330px;
  height:50px;    
}

.login-logo {
  max-width:100%;
  max-height: 100%;
  object-fit: cover;
}

.table_header {
  width:100%;
  min-height:35px;
  padding-top: 8px;
  padding-left:5px;
  margin-top:2px;
  border-bottom: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #939598;
  color:  #00589D; /* #00599D; */
  font-weight: bold;
  text-decoration: none !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 20px;
}

.border_bottom {
  border-bottom: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-bottom-width: 3px;
  border-color: #D1D2D4;
}

.table_header a {
  width:100%;
  color: #FFFFFF !important;
  text-decoration: none !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 20px;
}

.mdl-data-table-label {
    display:none;
}



.mdl-data-table__cell--non-numeric {
 /*  word-wrap:break-word !important; */
  white-space:normal;
}


.mdl-form .mdl-form-label {
  display: inline-block;
  min-width: 200px;
  padding-left:100px;
}


.mdl-textfield {
  display:inline-block !important;
}


.mdl-menu {
  z-index:0;
}

.util-action {
  display: inline-block;
}

.header_select {
    display:inline-block;
    height: 35px;
    margin-top: 2px;
    margin-right: 10px;
    border-radius: 3px;
}

.campaign-box {
  min-height:397px;
}


@media screen and (max-width: 1024px) {

  .table_row_height_large {
    min-height:80px !important;
  }

  .mdl-data-table__cell--non-numeric {

  }

  .mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
    padding-left:18px;
  }

  .mdl-data-table th {
    /*display: none;*/
  }

  .mdl-data-table tr {
    border-style: solid;   
    padding-bottom: 20px;
    margin-bottom: 50px !important;
  }

  .mdl-button-table {
    margin-bottom:20px;
    
  }

  .mdl-data-table-label {

  }

  .demo-navigation-top {
    display:block !important;
  }


  .account-card > .account-card-details {
    max-height: 100%;
  }


 /*  .account-card > .account-card-details  .account-card-details-label {
    text-align: left;
    padding: 0px 0px 0px 0px;
  } */

  .account-card > .account-card-details  .account-card-details-value {
    text-align: left;
    padding: 0px 0px 0px 0px;
  }

 /*  .account-card-details-large {
    display:none  !important;
  } */

/*   .account-card-details-small {
    display:inherit !important;
  } */

  .util-action {
    display:block;
    width:100%;
    text-align:right;
  }


  .mdl-textfield {
    display:inline-block;
    width:75%;
  }

  .mdl-form .mdl-form-label {
    padding-left:0px;
  }

  .header_select {
   /*  width:100%; */
    text-align: center;
    padding-right:0px;
    margin-right:0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .login-notice {
    display: none;
  }


.campaign-box {
  min-height:300px !important;
}

  
  
}


@media screen and (max-width: 835px) {

  .header-logo {
    display:none;
  }

  .header-max{
	max-width:100% !important;
  }

  .header-logo-small {
    display:inherit;
  }

  .header-small {
    display:inherit;
  }

  .campaign-box {
  min-height:100px !important;
  min-width: 300px; 
}

}

/** bootstrap elements **/

.form-group {
  
}

.modal-header {
  background: #00599D;
}

@media screen and (max-width: 1024px) {

  .form-group {
    padding-left:0px;
  }

  
}

.alert-warning {
  color: #ff0000;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-success {
  color: #0000ff;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.margin-history {
	margin:20px 40px;
}

.text-center {
	text-align:center;
}

.trx_status_container_width {
	width:95%;
}

.width-history {
	width:55%;
}

.mdl-textfield--floating-label > span[class*=mdl-textfield__label] + label[class*="error"] {
  position:absolute;
  left:0;
  padding-top: 0.3em;
}

.footer-position {    
	position: relative;
    bottom: 0px;
    width: 100%;
    color: #9e9e9e;
    padding: 20px 0px 20px 0px;
    z-index: 1;
}

.footer-default-position {    
    bottom: 0px;
    width: 100%;
    color: #9e9e9e;
    padding: 20px 0px 20px 0px;
    z-index: 1;
}

.text-color-light-blue > a {
	color:#40C4FF !important;
}

.button-workflow-add-minus {
	min-width: 40px !important;
	padding: unset;
}

.display-none {
	display:none;
}

.break-text {
	word-wrap: break-word;
	text-align: left !important;
}

.mdl-card {
	font-size:14px !important;
}

.table-responsive {
	font-size:14px !important;
}

.ft-16{
	font-size:16px !important;
}

.text-left {
	text-align:left ;
}

.container-white {
	background-color :white;
}

.ml-8 {
	margin-left:8%;
}

.word-break {
	word-break:break-all;
}

.min-height-acc-overview {
	min-height:60px;
}

.account-header-dropdown {
	width:200px;
}

.acc-header-dropdown-child {
	word-break: break-all;
    padding-left: 10px;
    padding-right: 10px;
}

.acc-header-border-bottom {
	border-bottom: 1px solid lightgrey;
}

.overview-table-width {
	width:300px !important;
}

.m-0 {
	margin:0px;
}

.form-control:disabled, .form-control[readonly]{
	background-color:white !important;
	opcacity:1 !important;
}

.white-space-nowrap {
	white-space: nowrap;	
}

.text-underline {
	width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 10px 0;
    background: 0 0;
    text-align: left;
    color: inherit;
}

.no-padding{
	padding:0px !important;
}

.m-10 {
	margin:10px;
}

.pd-0 {
	padding:0px !important;
}

.mb-0 {
	margin-bottom:0px;
}

.mdl-textfield__underline {
	width:60% !important;
}


/* new menu */
.mdl-layout__drawer-button i {		
  display: none;		
}		
.logo-size {
	display:inherit;
  	width:100px;
  	height:80px; 
}

.mdl-layout__drawer-button:after {		
  content: 'Menu' !important;		
  border-radius: 5px;		
  padding: 8px 4px 8px 4px;		
  font-size: 15px;	
}

.pt-15 {
	padding-top:15px;
}

.gj-datepicker > label.error {
	width:100%;
}

.landing-btn-flex{
	display:flex;
	justify-content: space-between; 
    flex-flow: row wrap;
}

@media only screen and (max-width: 480px) {
    .logo-width-sm {
        width: 250px !important;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     .ie-landing-minheight {
     	min-height:530px;
     }
     
     .mdl-layout__container {
		position : relative !important;
		width:100%;
		height:100%;
	}
	
}

.company-header-dropdown {
	width:100%;
}

.logo-size {
	display:inherit;
  	width:100px;
  	height:80px; 
}

.text-color-black , .text-color-black > a:hover ,.text-color-black > a  {
	color:black;
}
