	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/01/2019 09:05
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-doctor:before { content: "\f100"; }
.flaticon-stethoscope:before { content: "\f101"; }
.flaticon-ambulance:before { content: "\f102"; }
.flaticon-24-hours:before { content: "\f103"; }
.flaticon-experiment-results:before { content: "\f104"; }
.flaticon-heart-rate:before { content: "\f105"; }
.flaticon-dropper:before { content: "\f106"; }
.flaticon-first-aid-kit:before { content: "\f107"; }
.flaticon-help:before { content: "\f100"; }
.flaticon-support:before { content: "\f101"; }
.flaticon-discussion:before { content: "\f102"; }
.flaticon-anchor:before { content: "\f103"; }
.flaticon-speaking:before { content: "\f104"; }