tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style32
	{background:#EBB97C;
	mso-pattern:black none;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-protection:locked visible;
	mso-style-name:"Cost of Sales fill";}
.style21
	{mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022_\)\;_\(\@_\)";
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-style-name:"Currency \[0\]";
	mso-style-id:7;}
.style33
	{background:#88C5E6;
	mso-pattern:black none;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-protection:locked visible;
	mso-style-name:"Expenses fill";}
.style18
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:#5365AE;
	font-size:16.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:"Bookman Old Style", serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dotted #38321C;
	border-left:none;
	mso-style-name:"Heading 1";
	mso-style-id:16;}
.style27
	{mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	color:#5365AE;
	font-size:22.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:"Bookman Old Style", serif;
	mso-font-charset:0;
	border:none;
	mso-style-name:"Heading 2";
	mso-style-id:17;}
.style28
	{mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	color:#6F6857;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Bookman Old Style", serif;
	mso-font-charset:0;
	border:none;
	mso-style-name:"Heading 3";
	mso-style-id:18;}
.style29
	{mso-number-format:"\[ENG\]\[$-409\]mmm\\-yy\;\@";
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	color:#38321C;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Bookman Old Style", serif;
	mso-font-charset:0;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-style-name:"Heading 4";
	mso-style-id:19;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style16
	{mso-number-format:0%;
	text-align:right;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-style-name:Percent;
	mso-style-id:5;}
.style23
	{mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	padding-right:18px;
	mso-char-indent-count:1;
	background:#38321C;
	mso-pattern:black none;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Profit;}
.style24
	{mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022_\)\;_\(\@_\)";
	background:#38321C;
	mso-pattern:black none;
	color:white;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-style-name:"Profit Amount";}
.style25
	{mso-number-format:0%;
	background:#38321C;
	mso-pattern:black none;
	color:white;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-style-name:"Profit Percent";}
.style31
	{background:#6BC7B3;
	mso-pattern:black none;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-protection:locked visible;
	mso-style-name:"Revenue fill";}
.style26
	{mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	white-space:normal;
	mso-rotate:0;
	padding-right:18px;
	mso-char-indent-count:1;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"Table Details";}
.style30
	{mso-number-format:General;
	text-align:right;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	padding-right:18px;
	mso-char-indent-count:1;
	mso-background-source:auto;
	mso-pattern:auto;
	color:#38321C;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"Table Heading 1";}
.style17
	{text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	color:#38321C;
	font-size:22.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-style-name:Title;
	mso-style-id:15;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Century Gothic", sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl73
	{mso-style-parent:style0;
	text-align:center;}
.xl74
	{mso-style-parent:style0;
	color:#38321C;
	font-size:26.0pt;
	font-weight:700;
	vertical-align:middle;}
.xl75
	{mso-style-parent:style17;
	color:#38321C;
	font-size:22.0pt;
	font-weight:700;
	vertical-align:middle;}
.xl76
	{mso-style-parent:style0;
	color:#6F6857;
	font-weight:700;}
.xl77
	{mso-style-parent:style0;
	color:#8E9ACA;
	font-size:22.0pt;
	font-weight:700;
	font-style:italic;
	font-family:"Bookman Old Style", serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:middle;}
.xl78
	{mso-style-parent:style0;
	text-align:right;
	padding-right:18px;
	mso-char-indent-count:1;}
.xl79
	{mso-style-parent:style0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022_\)\;_\(\@_\)";}
.xl80
	{mso-style-parent:style23;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	text-align:right;
	vertical-align:middle;
	background:#38321C;
	mso-pattern:black none;
	padding-right:18px;
	mso-char-indent-count:1;}
.xl81
	{mso-style-parent:style24;
	color:white;
	font-weight:700;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022_\)\;_\(\@_\)";
	text-align:right;
	vertical-align:middle;
	background:#38321C;
	mso-pattern:black none;
	padding-right:18px;
	mso-char-indent-count:1;}
.xl82
	{mso-style-parent:style25;
	color:white;
	font-weight:700;
	mso-number-format:0%;
	text-align:right;
	vertical-align:middle;
	background:#38321C;
	mso-pattern:black none;
	padding-right:18px;
	mso-char-indent-count:1;}
.xl83
	{mso-style-parent:style26;
	text-align:right;
	white-space:normal;
	padding-right:18px;
	mso-char-indent-count:1;}
.xl84
	{mso-style-parent:style21;
	color:windowtext;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022_\)\;_\(\@_\)";}
.xl85
	{mso-style-parent:style0;
	mso-number-format:"0%\;\;\0022-\0022\;";
	text-align:right;}
.xl86
	{mso-style-parent:style16;
	color:windowtext;
	mso-number-format:0%;
	text-align:right;}
.xl87
	{mso-style-parent:style27;
	color:#5365AE;
	font-size:22.0pt;
	font-weight:700;
	font-style:italic;
	font-family:"Bookman Old Style", serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:middle;}
.xl88
	{mso-style-parent:style28;
	color:#6F6857;
	font-size:12.0pt;
	font-weight:700;
	font-family:"Bookman Old Style", serif;
	mso-font-charset:0;
	text-align:right;
	vertical-align:middle;}
.xl89
	{mso-style-parent:style29;
	color:#38321C;
	font-family:"Bookman Old Style", serif;
	mso-font-charset:0;
	mso-number-format:"\[ENG\]\[$-409\]mmm\\-yy\;\@";
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl90
	{mso-style-parent:style18;
	color:#5365AE;
	font-size:16.0pt;
	font-weight:700;
	font-style:italic;
	font-family:"Bookman Old Style", serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dotted #38321C;
	border-left:none;}
.xl91
	{mso-style-parent:style0;
	mso-number-format:"\;\;\;";
	text-align:center;}
.xl92
	{mso-style-parent:style0;
	mso-number-format:"\;\;\;";
	text-align:right;}
.xl93
	{mso-style-parent:style21;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022_\)\;_\(\@_\)";}
.xl94
	{mso-style-parent:style16;
	mso-number-format:0%;
	text-align:right;}
.xl95
	{mso-style-parent:style0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";}
.xl96
	{mso-style-parent:style0;
	mso-number-format:0%;
	text-align:right;}
.xl97
	{mso-style-parent:style30;
	color:#38321C;
	font-size:12.0pt;
	font-weight:700;
	text-align:right;
	padding-right:18px;
	mso-char-indent-count:1;}
.xl98
	{mso-style-parent:style31;
	font-size:10.0pt;
	text-align:center;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#6BC7B3;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style21;
	color:windowtext;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022_\)\;_\(\@_\)";
	text-align:center;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#6BC7B3;
	mso-pattern:black none;}
.xl100
	{mso-style-parent:style16;
	color:windowtext;
	mso-number-format:0%;
	text-align:right;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#6BC7B3;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style32;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#EBB97C;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style32;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022_\)\;_\(\@_\)";
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#EBB97C;
	mso-pattern:black none;}
.xl103
	{mso-style-parent:style32;
	mso-number-format:0%;
	text-align:right;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#EBB97C;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style33;
	text-align:center;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#88C5E6;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style21;
	color:windowtext;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\\\)\;_\(\0022$\0022* \0022-\0022_\)\;_\(\@_\)";
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#88C5E6;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style16;
	color:windowtext;
	mso-number-format:0%;
	text-align:right;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#88C5E6;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style0;
	mso-number-format:0%;}
